<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <!--  <%= stylesheet_link_tag "scaffold" %> -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%=controller.controller_name %>'>
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_tile || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://localhost:3000">Home</a><br />
      <a href="http://localhost:3000/faq">Questions</a><br />
      <a href="http://localhost:3000/news">News</a><br />
      <a href="http://localhost:3000/contact">Contact</a><br />
      <a> <%= Time.now %></a><br />
      <% if session[:counter] > 5 %>
        <a> <%= pluralize(session[:counter], "time") %> view index</a>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
